<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720522282116-k8d8ik0er0l437mvebauctfm5vod97om.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720522282116-k8d8ik0er0l437mvebauctfm5vod97om</string>
	<key>API_KEY</key>
	<string>AIzaSyAUkYXIFoxtYUk2Z5UtWM1ofmFk6b9ijxE</string>
	<key>GCM_SENDER_ID</key>
	<string>720522282116</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.companyname.EatIt</string>
	<key>PROJECT_ID</key>
	<string>eatit-9d47e</string>
	<key>STORAGE_BUCKET</key>
	<string>eatit-9d47e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720522282116:ios:db3580ed73c765b9566ed1</string>
</dict>
</plist>